/* begin default.css */

ul li {
  list-style: none;
  list-style-type: none;
  margin-left: -26px;
  padding-left: 1em;
  text-indent: -32px;
}
ul li p:first-child {
  margin-left: 3px;
}
ul li p {
  margin-left: 32px;
}
ul li pre { text-indent: 0; }
ul li:before {
  content: '\25B6 \0020';
  color: #9c000d;
  line-height:80%;
  vertical-align: 16%;
  padding-right: 0.4em;
}
li ul li:before {
  content: '\26AB \0020';
  vertical-align: 3%;
}
ul li:first {
  content: ' ';
}

li p:first-child { display: inline; }
li pre { margin-left: 2em; }

a {
  text-decoration: none;
  color: #1571e1;
  border: none;
  display: inline !important;
}

pre, code, tt {
  font-family: Monaco, Consolas, 'Bitstream Vera Sans Mono', 'Lucida Console', FreeMono, Courier, monospace;
}

pre, .gist .gist-file .gist-data {
  font-size: 18px;
  max-height: 485px;
  padding-top: 0.25em !important;
  padding-right: 0.5em !important;
  padding-left: 0.5em !important;
  overflow: auto;
}

code {
  background: #ffffff;
  padding: 0.1em;
  padding-right: 0.15em;
  border-top-right-radius: 0.2em;
  -moz-border-radius-topright: 0.2em;
  -webkit-border-top-right-radius: 0.2em;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 0.2em;
  -webkit-border-bottom-left-radius: 0.2em;
  border-top-left-radius: 0.2em;
  -moz-border-radius-topleft: 0.2em;
  -webkit-border-top-left-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  -moz-border-radius-bottomright: 0.2em;
  -webkit-border-bottom-right-radius: 0.2em;
}
pre, pre code {
  background: none;
}

div.slide {
  background: -webkit-gradient(linear, left bottom, left top, from(#eee), to(#eaeaea));
  background-color: #eee;
  background: -moz-linear-gradient(bottom, #eee, #eaeaea);
  border-top-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left bottom, left top, from(#9c000d), to(#eee));
}
::-webkit-scrollbar-thumb:horizontal { /* no horizontal scrollbar */
  background: none;
}

.slide.task {
  background: #ffffe0;
  border: 1px solid #eee;
  border-radius: 20px;
}
.slide.task header {
  color: #9c000d;
}

.slide.achtung {
  background: #d7e5f5;
  border: 1px solid #eee;
  border-radius: 20px;
}
.slide.achtung header {
  color: #9c000d;
}

.slide.wrong {
  background: #ffdeb5;
  border: 1px solid #eee;
  border-radius: 20px;
}
.slide.wrong header {
  color: #9c000d;
}

.slide.correct {
  background: #a2dcc1;
  border: 1px solid #eee;
  border-radius: 20px;
  font-color: #f5f5f5;
}

.slide.first {
  text-align: center;
}
.slide.first header {
  color: #9c000d;
  width: 900px;
  padding-top: 30px;
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 40px;
  margin-bottom: 20px;
  left: 0px;
  color: white;
  background-color: #9c000d;
  -moz-border-radius: 0.15em 0.15em 0.15em 0.15em;
  border-radius: 0.15em 0.15em 0.15em 0.15em;
  height: 80px;
}
.slide.first section {
  padding-top: 90px;
}

.section {
  color: black;
}

/* Pygments */
.err { border: 0px; }

/* Definition lists */

dl {
  margin-top: 20px;
  padding: 8px;
}

dt, dd {
  padding: 10px 0;
  font-size: 20px;
}

dt {
  display: inline;
  padding: 8px;
  color: white;
  background-color: #9c000d;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-right: 12px;
}

dd {
  margin-right: 30px;
  margin: 20px;
  padding: 20px;
  color: #666;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  background: #fafafa;
  border: #ccc 1px solid;
  border-radius: 3px;
  box-shadow: 0 1px 2px #d1d1d1;
}

dd p {
  margin: 0px;
  padding: 0px;
}

/*
 * Tables
 *
 * http://johnsardine.com/freebies/dl-html-css/simple-little-tab/
 */

div.slide table:not(.highlighttable) {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  color: #666;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  background: #eaebec;
  border: #ccc 1px solid;
  border-radius: 3px;
  box-shadow: 0 1px 2px #d1d1d1;
  text-shadow: 1px 1px 0px #fff;
  font-size: 20px;
}

div.slide table:not(.highlighttable) tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
}

div.slide table:not(.highlighttable) th {
  padding: 21px 25px 22px 25px;
  border-bottom: 1px solid #e0e0e0; border-top: 1px solid #fafafa;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top, #ededed, #ebebeb);
}

div.slide table:not(.highlighttable) th:first-child {
  padding-left: 20px;
  text-align: left
}

div.slide table:not(.highlighttable) a:visited {
  color: #999999;
  font-weight: bold;
  text-decoration: none
}

div.slide table:not(.highlighttable) a:active,
div.slide table:not(.highlighttable) a:hover {
  color: #bd5a35;
  text-decoration: underline
}

div.slide table:not(.highlighttable) a:link {
  color: #666;
  font-weight: bold;
  text-decoration: none
}

div.slide table:not(.highlighttable) tr {
  padding-left: 20px;
  text-align: center
}

div.slide table:not(.highlighttable) tr:first-child th:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}

div.slide table:not(.highlighttable) tr:first-child th:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}

div.slide table:not(.highlighttable) tr:last-child td {    border-bottom: 0 }

div.slide table:not(.highlighttable) tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

div.slide table:not(.highlighttable) tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

div.slide table:not(.highlighttable) tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}

div.slide table:not(.highlighttable) tr td {
  padding: 18px;
  border-bottom: 1px solid #e0e0e0; border-left: 1px solid #e0e0e0; border-top: 1px solid #ffffff;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

div.slide table:not(.highlighttable) tr td:first-child {
  padding-left: 20px;
  border-left: 0;
  text-align: left
}

/* end default.css */
